{% extends "ranklist/base.html" %}
{%  load static %}

{% block content %}
{% if college.results %}

<div class="jumbotron" id="canvas-wrap" style=" position:relative; background-color: transparent; overflow:hidden;">
<canvas id="confetti-holder" style="position:absolute; top:0; left:0; z-index:-1;">
</canvas>
<div class='container' >
    <h1 class="display-4">{{college.long_name}}</h1>
    <hr class="my-4">
    <div class="row">
        <div class="col-md">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Position</th>
                  <th scope="col">Name</th>
                  <th scope="col">Labs</th>
                </tr>
              </thead>
              <tbody style="background-color: #e9ecef;">
                  {% for person in labs %}
                    <tr>

                      <th scope="row" class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.position_labs}}</th>
                      {%if person.position_labs == 1 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.name}} 🥇</td>
                      {% elif person.position_labs == 2 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.name}} 🥈</td>
                      {% elif person.position_labs == 3 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.name}} 🥉</td>
                      {% else %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.name}}</td>
                      {% endif %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position_labs}}s">{{person.labs}}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-md">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Position</th>
                  <th scope="col">Name</th>
                  <th scope="col">Quests</th>
                </tr>
              </thead>
              <tbody style="background-color: #e9ecef;">
                  {% for person in quests %}
                    <tr>

                      <th scope="row" class="animate__animated animate__faseIn animate__delay-0.{{person.position}}s">{{person.position}}</th>
                      {%if person.position == 1 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position}}s">{{person.name}} 🥇</td>
                      {% elif person.position == 2 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position}}s">{{person.name}} 🥈</td>
                      {% elif person.position == 3 %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position}}s">{{person.name}} 🥉</td>
                      {% else %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position}}s">{{person.name}}</td>
                      {% endif %}
                      <td class="animate__animated animate__fadeIn animate__delay-0.{{person.position}}s">{{person.quests}}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <p>These results were fetched on: {{college.stamp}}</p>
    <p>Click here to go back home</p>
    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
  </div>

</div>

{% else %}
<div class="jumbotron">
  <h1 class="display-4">{{college.long_name}}</h1>
  <p class='lead'>Fetching results, please wait!!</p>
  <hr class="my-4">

  <p>Click here to go back home</p>
  <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
{% endif %}



{% endblock %}

