{% extends "ranklist/base.html" %}
{%  load static %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4 animate__animated animate__fadeIn">30 Days of Google Cloud</h1>
    <p class="lead animate__animated animate__fadeIn">30 Days of Google Cloud program will provide you an opportunity to kickstart your career in cloud and get hands-on practice on Google Cloud Platform - the tool that powers apps like Google Search, Gmail and YouTube.</p>
    <p class="lead animate__animated animate__fadeIn">Along the way, you will learn & practice concepts like computing, application development, big data & machine learning using cloud & if you get stuck, you will have your "Campus Facilitators" who are specially trained on Google Cloud to help. 😎</p>
    <p class="lead animate__animated animate__fadeIn">This serves as the ranklist for the 30 days of cloud</p>
    <hr class="my-4">
    <p>Click here to view the ranklist!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'list' %}" role="button">View!</a>
</div>
{% endblock %}
